@page
@{
    ViewData["Title"] = "Springfield Devs";
}

<div class="site_wrapper">
    <section>
        <div class="content">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.svg" alt="Springfield Devs">
                </a>
            </div>
            
            <h1>Hello, World!</h1>
            
            <p>
                We are preparing something really freaking cool. Honestly, we are stoked to tell you all about it. Be the first to know when it launches.
            </p>
            
            <form action="https://hooks.zapier.com/hooks/catch/5643689/o317nvx/" method="post">
                <div class="field">
                    <input type="email" name="email" id="email" placeholder="denish@@piedpiper.com">
                </div>
                
                <button>
                    <i class="fas fa-paper-plane"></i> Notify Me
                </button>
            </form>
            
            <footer>
                <div class="social">
                    <a target="_blank" href="https://twitter.com/sgfdevs">
                        <i class="fab fa-twitter"></i>
                    </a>
                    
                    <a target="_blank" href="https://www.youtube.com/channel/UC09Jd4ouiP_BUc7REYhC2kw/">
                        <i class="fab fa-youtube"></i>
                    </a>
                    
                    <a target="_blank" href="https://github.com/sgfdevs">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                
                <div class="sgf">
                    <a href="#">
                        <img src="/images/flag.jpg" alt="Springfield Flag">
                    </a>
                    
                    <h4>
                        We <img src="/images/heart.svg" alt="Heart Icon"> Springfield. ©@DateTime.Now.Year Springfield Devs. 501(c)(6) 
                    </h4>
                </div>
            </footer>
        </div>
    </section>
    
    <section>
        <img src="/images/sgf.jpg" alt="Springfield City">
    </section>
</div>