.site_wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

section {
    flex: 1;
}

section:nth-child(1) {
    padding: 55px 80px;
    display: flex;
    justify-content: center;
}

section:nth-child(2) {
    position: relative;
    background-color: #619ECE;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        mix-blend-mode: luminosity;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    font-weight: 600;
    color: #153557;
    letter-spacing: -1px;
    line-height: 90px;
}

p {
    max-width: 600px;
}

form {
    display: flex;
    justify-content: space-between;
}

.field {
    margin-right: 10px;
    flex: 1;
}

input {
    background: #F7F7F7;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
}

button {
    font-family: 'SourceSansVariable', sans-serif;
    font-weight: 500;
    height: 50px;
    padding: 0 32px 0 16px;
    background: #153557;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    line-height: 31px;
    border: 0;
    width: 150px;
    flex-shrink: 0;

    i {
        margin-right: 10px;
    }
}

footer {
    margin-top: auto;
}

.social {
    a {
        color: #153557;
        font-size: 1.5em;
        margin: 0 10px;
    }
}

.sgf {
    display: flex;
    align-items: center;
    line-height: 1em;
    margin-top: 30px;

    a {
        margin-right: 14px;
        flex-shrink: 0;
    }

    h4 {
        margin: 0;

        span {
            margin-left: 7px;
        }
    }
}


@include mq-large-tablet {
    section:nth-child(1) {
        padding: 55px 40px;
    }

    h1 {
        font-size: 60px;
        line-height: 70px;
    }
}


@include mq-lt-medium {
    .site_wrapper {
        flex-direction: column;
    }

    section {
        //flex: auto;
    }

    section:nth-child(1) {
        order: 2;
    }

    section:nth-child(2) {
        order: 1;
        min-height: 208px;
        max-height: 208px;
    }
}